.happyCatContainer {
    padding-top: 700px;
    padding-left: 425px;
}
.happyCat {
    padding-left: 22px
}

.happyCatFrameContainer {
    padding-top: 100px;
    margin-left: -50px
}

.happyCatOptionAContainer{
    position: absolute;
    padding-top: 265px;
    height: 100px;
    padding-left: 125px;
}

.happyCatOptionBContainer {
    position: absolute;
    padding-top: 265px;
    height: 100px;
    padding-left: 265px;
}